html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
  background-color: #fcfcfd;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue",
    sans-serif;
  line-height: 1.25;
}
main {
  display: block;
  padding: 1rem 1rem 2rem;
  max-width: 48rem;
  margin: 0 auto;
}
h1 {
  font-weight: 400;
  font-size: 2rem;
  margin: 0.5rem 0;
}
header {
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Consolas, "Courier New", monospace;
  color: #005c43;
}
.small,
code {
  font-size: 0.875rem;
}
#logo {
  display: block;
  width: 100%;
  max-width: 32rem;
  margin: 1rem auto;
}
hr,
#theme {
  margin-top: 2rem;
}
button {
  display: block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.15;
  letter-spacing: 0.025rem;
  border: none;
  border-radius: 0.5rem;
  border: none;
  background-color: #9e1a88;
  color: #fff;
  outline: none;
  user-select: none;
  width: auto;
  height: auto;
  margin: 1.5rem auto;
  transition: 0.2s;
}
button:hover,
button:focus {
  background-color: #40ffd0;
  color: #1d201f;
}
#random-theme,
#alternative {
  font-size: 1.25rem;
  letter-spacing: 0.025rem;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
}
#or {
  display: none;
  margin: 0.125rem 0 0;
  text-align: center;
  font-size: 0.875rem;
}
